/* General */
:root {
  --cell-height: 1.5rem;
  --cell-width: 2rem;
  --color-background: #ffffff;
  --color-prime: rgba(3, 230, 219, 0.39);
  --color-same-month: rgba(162, 168, 170, 0.726);
  --color-text: #2c3e50;
}